<div class="chat-container">
  <div class="messages">
    <div *ngFor="let msg of messages" 
    [ngClass]="{'user-msg right': msg.senderId === senderId, 'other-msg left': msg.senderId === receiverId}">
      <div class="message-content">
        <span class="text">{{ msg.content }}</span>
        <span class="timestamp">{{ msg.timestamp | date:'shortTime' }}</span>
      </div>
    </div>
  </div>
  <hr>
  <mat-form-field class="desc">
    <mat-label>Type a message...</mat-label>
    <input matInput [(ngModel)]="messageContent">
    <button class="btn" mat-icon-button matSuffix type="click" (click)="sendMessage()">
      <mat-icon svgIcon="send"></mat-icon>
    </button>
  </mat-form-field>

</div>