<div class="container">
  <form [formGroup]="form" (submit)="userLogin()">
    <mat-card class="login-card" appearance="outlined">
      <mat-card-title class="col">
        <div class="circular-container">
          <img src="pawprint.png">
        </div>
        <div>
          Paw Diaries
        </div>
      </mat-card-title>
      <mat-card-content>
          <div class="login-container">
              <mat-form-field>
                <mat-label>Enter your email</mat-label>
                <input matInput formControlName="email">
              </mat-form-field>
          </div>
          <div class="login-container">
              <mat-form-field>
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide() ? 'password' : 'text'" formControlName="password">
                <button
                  type="button"
                  mat-icon-button
                  matSuffix
                  (click)="clickEvent($event)"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide()"
                >
                  <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              <div class="forgot">
                <a [routerLink]="['/reset-password']">Forgot Your Password?</a>
              </div>
          </div>
      </mat-card-content>
      <mat-card-actions>
          <button mat-flat-button type="submit">SIGN IN</button>
          <span>Don't have an account? <a [routerLink]="['/register']">Create your account</a></span>
          <hr>
          <button type="button" mat-stroked-button (click)="googleLogin()">
              <mat-icon svgIcon="google"></mat-icon>Sign in with Google
          </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
