.post-card {
    max-width: 30vw;
    margin: auto 10vw auto 20vw;
}

.example-header-image {
    background-size: cover;
}

img {
    height: auto;
    width: auto;
}

.main-content {
    position: absolute;
    top: 60px; /* Below navbar */
    left: 160px; /* Next to sidebar */
    width: calc(100% - 200px); /* Take remaining space */
    height: calc(100% - 100px); /* Fill remaining height */
    overflow: auto; /* Enables scrolling only inside main content */
    padding: 20px;
    background-color: #f9f9f9; /* Light background for contrast */
}

@media screen and (max-width: 768px) {
    .main-content {
        width: calc(100% - 40px);
        left: 0;
    }
    .post-card {
        max-width: 75vw;
        margin: auto;
    }

}