.post-card {
    max-width: 40vw;
    margin: auto 10vw auto 20vw;
}

.post-image {
    background-size: cover;
}

.main-content {
    position: absolute;
    top: 60px;
    left: 160px;
    width: calc(100% - 200px);
    height: calc(100% - 100px);
    overflow: auto;
    padding: 20px;
    background-color: #f9f9f9;
}

.media-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.media-file {
    width: 100%;
    object-fit: fill;
}

.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 15px 20px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 50%;
}

.top-right {
    margin-left: auto;
}

.nav-button.left {
    left: 10px;
}

.nav-button.right {
    right: 10px;
}

.nav-button:hover {
    background: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 768px) {
    .main-content {
        width: calc(100% - 40px);
        left: 0;
    }

    .post-card {
        max-width: 75vw;
        margin: auto;
    }
}