<div class="container">
  <mat-card class="login-card" appearance="outlined">
    <mat-card-title>Register</mat-card-title>
    <mat-card-content>
      <!-- Step 1: Enter Email -->
      <div *ngIf="step === 1" class="login-container">
        <form [formGroup]="emailForm" (submit)="sendVerificationCode()">
          <mat-form-field>
            <mat-label>Enter your email</mat-label>
            <input matInput formControlName="email">
          </mat-form-field>
          <button mat-flat-button type="submit" [disabled]="emailForm.invalid">
            SEND CODE
          </button>
        </form>
      </div>

      <!-- Step 2: Enter Verification Code -->
      <div *ngIf="step === 2" class="login-container">
        <p>
          A verification code has been sent to <strong>{{ userEmail }}</strong>.
          <br>
          <code>(Please check your junk / spam folders)</code>
        </p>
        <form [formGroup]="codeForm" (submit)="verifyCode()">
          <mat-form-field>
            <mat-label>Enter Code</mat-label>
            <input matInput formControlName="code" required>
          </mat-form-field>
          <div class="btns">
            <button
              mat-flat-button
              type="click"
              (click)="sendVerificationCode()"
              [disabled]="codeTimeout"
            >
              Resend Code {{ codeTimeout ? "(" + countdown + "s)" : "" }}
            </button>
            <button mat-flat-button type="submit" [disabled]="codeForm.invalid">
              Verify Code
            </button>
          </div>
        </form>
      </div>
      <div *ngIf="step === 3" class="login-container">
        <form [formGroup]="form" (submit)="register()">
          <mat-form-field>
            <mat-label>Enter your username</mat-label>
            <input matInput formControlName="name" />
            @if (isCtrlInvalid("name")) {
            <mat-error>Username should be between 3 - 32 characters</mat-error>
            }
          </mat-form-field>
          <mat-form-field>
            <mat-label>Enter your password</mat-label>
            <input
              matInput
              [type]="hide() ? 'password' : 'text'"
              formControlName="password"
            />
            <button
              type="button"
              mat-icon-button
              matSuffix
              (click)="clickEvent($event)"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide()"
            >
              <mat-icon>{{
                hide() ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
            @if (isCtrlInvalid("password")) {
            <mat-error>Password should be between 8 - 64 characters</mat-error>
            }
          </mat-form-field>
          <button mat-flat-button type="submit" [disabled]="form.invalid">
            REGISTER
          </button>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>
