<div class="main-content" #scrollContainer (scroll)="onScroll($event)">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> Filter Results </mat-panel-title>
      <mat-panel-description>
        <button mat-icon-button class="top-right" form="filterForm" type="submit" [disabled]="form.invalid">
          <mat-icon svgIcon="refresh"></mat-icon>
        </button>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <form [formGroup]="form" (submit)="processForm()" class="grid" id="filterForm">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Type</mat-label>
        <mat-select formControlName="type" (selectionChange)="onTypeChange($event)">
          @for(t of pfTypes; track $index) {
            <mat-option [value]="t">{{ t }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Age</mat-label>
        <mat-select formControlName="age" multiple>
          <mat-select-trigger>
            {{form.value['age']?.[0] || ''}}
            @if ((form.value['age']?.length || 0) > 1) {
              <span>
                (+{{(form.value['age']?.length || 0) - 1}} {{form.value['age']?.length === 2 ? 'other' : 'others'}})
              </span>
            }
          </mat-select-trigger>
          @for (age of ageList; track $index) {
        <mat-option [value]="age">{{ age }}</mat-option>
      }
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Size</mat-label>
        <mat-select formControlName="size" multiple>
          <mat-select-trigger>
            {{form.value['size']?.[0] || ''}}
            @if ((form.value['size']?.length || 0) > 1) {
              <span>
                (+{{(form.value['size']?.length || 0) - 1}} {{form.value['size']?.length === 2 ? 'other' : 'others'}})
              </span>
            }
          </mat-select-trigger>
          @for (size of sizeList; track $index) {
        <mat-option [value]="size">{{ size }}</mat-option>
      }
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Breeds [{{ selectedType }}]</mat-label>
        <mat-select formControlName="breed" multiple>
          <mat-select-trigger>
            {{form.value['breed']?.[0] || ''}}
            @if ((form.value['breed']?.length || 0) > 1) {
              <span>
                (+{{(form.value['breed']?.length || 0) - 1}} {{form.value['size']?.length === 2 ? 'other' : 'others'}})
              </span>
            }
          </mat-select-trigger>
          @for (breed of pfBreeds; track $index) {
        <mat-option [value]="breed">{{ breed }}</mat-option>
      }
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender" multiple>
          <mat-select-trigger>
            {{form.value['gender']?.[0] || ''}}
            @if ((form.value['gender']?.length || 0) > 1) {
              <span>
                (+{{(form.value['gender']?.length || 0) - 1}} {{form.value['gender']?.length === 2 ? 'other' : 'others'}})
              </span>
            }
          </mat-select-trigger>
          @for (gender of genderList; track $index) {
        <mat-option [value]="gender">{{ gender }}</mat-option>
      }
        </mat-select>
      </mat-form-field>
      <mat-form-field id="location">
        <mat-label>Location (city/state/postal code)</mat-label>
        <input matInput type="text" formControlName="location">
      </mat-form-field>
    </form>
  </mat-expansion-panel>
  <br>
  @for (pf of pfData; track $index) {
  <mat-card class="post-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title><strong>{{ pf.name }}</strong></mat-card-title>
      <mat-card-subtitle>{{ pf.species }}, {{ pf.breed }}</mat-card-subtitle>
    </mat-card-header>
    @if (pf.photos.length > 0) {
    <div class="media-container">
      <img class="media-file" mat-card-image [src]="showPicture(pf)">

      @if (pf.photos.length > 1) {
      <!-- Left Arrow Button -->
      <button class="nav-button left" (click)="prevPic(pf)">&#10094;</button>
      <!-- Right Arrow Button -->
      <button class="nav-button right" (click)="nextPic(pf)">&#10095;</button>
      }
    </div>
    } @else {
      <hr>
    }
    <br>
    <mat-card-content>
      <div><strong>Age: </strong>{{ pf.age }}</div>
      <div><strong>Gender: </strong>{{ pf.gender }}</div>
      <div><strong>Size: </strong>{{ pf.size}}</div>
      <div><strong>Coat: </strong>{{ pf.coat }}</div>
      @if(pf.description) {
        <hr>
        <div>
          <div><strong>Description: </strong></div>
          <div>{{ pf.description }}</div>
        </div>
      }
      @if(pf.attributes) {
        <hr>
        <strong>Attributes: </strong>
        <mat-chip-set>
          @for(attr of pf?.attributes ?? []; track $index) {
            <mat-chip>{{ attr }}</mat-chip>
          }
        </mat-chip-set>
      }
      @if(pf.environment) {
        <hr>
        <strong>Gets along with: </strong>
        <mat-chip-set>
          @for(env of pf?.environment ?? []; track $index) {
            <mat-chip>{{ env }}</mat-chip>
          }
        </mat-chip-set>
      }
      @if(pf.tags && pf.tags.length > 0) {
        <hr>
        <strong>Personality: </strong>
        <mat-chip-set>
          @for(tag of pf?.tags ?? []; track $index) {
            <mat-chip>{{ tag }}</mat-chip>
          }
        </mat-chip-set>
      }
      <hr>
      <div>
        <div><strong>Email: </strong>{{ pf.email }}</div>
        <div><strong>Phone: </strong>{{ pf.phone }}</div>
        <div><strong>Address: </strong>{{ pf.address }}</div>
      </div>
      @if(pf.url != 'N.A.') {
        <hr>
        <div><strong>Links: </strong></div>
        <div><a [href]="pf.url" target="_blank">{{ pf.url }}</a></div>
      }
      @if(pf.videos && pf.videos.length > 0) {
        <hr>
        <div><strong>Meet {{ pf.name }}: </strong></div>
        @for(vid of pf?.videos ?? []; track $index) {
          <div><a [href]="vid" target="_blank">{{ vid }}</a></div>
        }
      }
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button (click)="savePfToUser(pf.id)" 
      [ngClass]="{'active': savedPfs.includes(pf.id)}">
        <mat-icon>favorite</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  } @empty {
    <div style="text-align:center;">No results available</div>
  }
  @if(isAtBottom) {
    <div class="bottom-btn">
      <button mat-raised-button (click)="loadMore(1)">Load More</button>
    </div>
  }
</div>


